<div class="col-six tab-full" th:fragment="edit_password">
    <h3>Change password</h3>

    <form th:action="@{/user_details}" method="POST">
        <div>
            <label for="old_password">Old password</label>
            <input class="full-width" type="password" id="old_password" name="password">
            <label for="new_password">New password</label>
            <input class="full-width" type="password" id="new_password" name="new_password">
            <label for="confirm_password">Confirm new password</label>
            <input class="full-width" type="password" id="confirm_password" name="confirm_password">
            <input type="hidden" name="username" th:value="${username}">
        </div>
        <input class="button-primary full-width-on-mobile" type="submit" name="change_password" value="Change password">
    </form>
</div>