<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>
<body>

<!--<div th:if="${message!=null}">-->
    <!--<div>-->
        <!--<p th:text="${message}"/>-->
    <!--</div>-->
<!--</div>-->

<form method="POST" th:action="@{/login}">
    <label>username</label> <input type="text" name="username">
    <label>password</label> <input type="password" name="password">
    <input type="submit" value="Sign In"/>
</form>
<a href="/registration">Add new user</a>

<!--<form method="POST" th:action="@{/login}">-->
    <!--<h2>Log in</h2>-->
    <!--<div th:if="${error != null ? 'has-error' : ''}">-->
        <!--<span th:text="${message}"></span>-->
        <!--<input name="username" type="text" placeholder="Username" autofocus="true"/>-->
        <!--<input name="password" type="password" placeholder="Password"/>-->
        <!--<span th:text="${error}"></span>-->
        <!--<button type="submit" value="Log In"/>-->
        <!--<h4><a href="/registration">Create an account</a></h4>-->
    <!--</div>-->
<!--</form>-->

</body>
</html>

