<header class="short-header" th:fragment="menu">

    <div class="gradient-block"></div>

    <div class="row header-content">

        <div class="logo">
            <a href="/">Author</a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation sf-menu">
                <!--<li><a href="/user_details" title=""/><p th:text="'Hello, ' + ${username} + '!'"></p></li>-->

                <li><a href="/user_details" title=""><p th:text="'Hello, ' + ${username} + '!'"></p></a></li>

                <li><a href="/" title="">Home</a></li>

                <!--<li class="current"><a href="/" title="">Home</a></li>-->

                <li class="has-children">
                    <a href="category.html" title="">Categories</a>
                    <ul class="sub-menu">
                        <li><a href="/category/1">Salads</a></li>
                        <li><a href="/category/2">Soups</a></li>
                        <li><a href="/category/3">Snacks</a></li>
                        <li><a href="/category/4">Main</a></li>
                        <li><a href="/category/5">Meat</a></li>
                        <li><a href="/category/6">Fish</a></li>
                        <li><a href="/category/7">Vegetarian</a></li>
                        <li><a href="/category/8">Sauces</a></li>
                        <li><a href="/category/9">Deserts</a></li>
                        <li><a href="/category/10">Italian</a></li>

                    </ul>
                </li>

                <li><a href="/add_recipe" title="">Add Recipe</a></li>

                <li><a href="/my_recipes" title="">My Recipes</a></li>

                <li><a href="/share_with_me" title="">Shared with me</a></li>

                <!--<form id="logoutForm" method="POST" th:action="@{/logout}">-->
                    <!--<li><a onclick="document.forms['logoutForm'].submit()">Logout</a></li>-->
                <!--</form>-->
                <li>
                    <form id="logoutForm" method="POST" th:action="@{/logout}">
                        <a onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </form>
                </li>


                <!--<li class="has-children">-->
                    <!--<a href="single-standard.html" title="">Blog</a>-->
                    <!--<ul class="sub-menu">-->
                        <!--<li><a href="single-video.html">Video Post</a></li>-->
                        <!--<li><a href="single-audio.html">Audio Post</a></li>-->
                        <!--<li><a href="single-gallery.html">Gallery Post</a></li>-->
                        <!--<li><a href="single-standard.html">Standard Post</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="style-guide.html" title="">Styles</a></li>-->
                <!--<li><a href="about.html" title="">About</a></li>-->
                <!--<li><a href="contact.html" title="">Contact</a></li>-->
            </ul>
        </nav> <!-- end main-nav-wrap -->

        <div class="triggers">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->

    </div>

</header>